magento/.htaccess.sample
magento/.modgit/
magento/.modman/
magento/app/code/community/Phoenix/
magento/app/code/community/Cm/
magento/app/code/core/
magento/app/design/adminhtml/default/default/
magento/app/design/frontend/base/
magento/app/design/frontend/rwd/
magento/app/design/frontend/default/blank/
magento/app/design/frontend/default/default/
magento/app/design/frontend/default/iphone/
magento/app/design/frontend/default/modern/
magento/app/design/frontend/enterprise/default
magento/app/design/install/
magento/app/etc/modules/Enterprise_*
magento/app/etc/modules/Mage_All.xml
magento/app/etc/modules/Mage_Api.xml
magento/app/etc/modules/Mage_Api2.xml
magento/app/etc/modules/Mage_Authorizenet.xml
magento/app/etc/modules/Mage_Bundle.xml
magento/app/etc/modules/Mage_Captcha.xml
magento/app/etc/modules/Mage_Centinel.xml
magento/app/etc/modules/Mage_Compiler.xml
magento/app/etc/modules/Mage_ConfigurableSwatches.xml
magento/app/etc/modules/Mage_Connect.xml
magento/app/etc/modules/Mage_CurrencySymbol.xml
magento/app/etc/modules/Mage_Downloadable.xml
magento/app/etc/modules/Mage_ImportExport.xml
magento/app/etc/modules/Mage_LoadTest.xml
magento/app/etc/modules/Mage_Oauth.xml
magento/app/etc/modules/Mage_PageCache.xml
magento/app/etc/modules/Mage_Persistent.xml
magento/app/etc/modules/Mage_Weee.xml
magento/app/etc/modules/Mage_Widget.xml
magento/app/etc/modules/Mage_XmlConnect.xml
magento/app/etc/modules/Phoenix_Moneybookers.xml
magento/app/etc/modules/Cm_RedisSession.xml
magento/app/etc/applied.patches.list
magento/app/etc/config.xml
magento/app/etc/enterprise.xml
magento/app/etc/local.xml.additional
magento/app/etc/local.xml.template
magento/app/etc/local.xml
magento/app/.htaccess
magento/app/locale/
magento/app/Mage.php
magento/cron.php
magento/cron.sh
magento/downloader/
magento/errors/
magento/favicon.ico
magento/get.php
magento/includes/
magento/index.php
magento/index.php.sample
magento/install.php
magento/js/blank.html
magento/js/calendar/
magento/js/enterprise/
magento/js/extjs/
magento/js/firebug/
magento/js/flash/
magento/js/index.php
magento/js/jscolor/
magento/js/lib/
magento/js/mage/
magento/js/prototype/
magento/js/scriptaculous/
magento/js/spacer.gif
magento/js/tiny_mce/
magento/js/varien/
magento/lib/3Dsecure/
magento/lib/Apache/
magento/lib/flex/
magento/lib/googlecheckout/
magento/lib/.htaccess
magento/lib/LinLibertineFont/
magento/lib/Mage/
magento/lib/PEAR/
magento/lib/Pelago/
magento/lib/phpseclib/
magento/lib/Varien/
magento/lib/Zend/
magento/lib/Cm/
magento/lib/Credis/
magento/lib/Magento/
magento/LICENSE_AFL.txt
magento/LICENSE.html
magento/LICENSE.txt
magento/LICENSE_EE*
magento/mage
magento/media/customer/
magento/media/dhl/
magento/media/downloadable/
magento/media/.htaccess
magento/media/import/
magento/media/xmlconnect/
magento/media/catalog/product/cache/
magento/media/catalog/product/placeholder/default/
magento/api.php
magento/nbproject/
magento/pear
magento/pear/
magento/php.ini.sample
magento/pkginfo/
magento/RELEASE_NOTES.txt
magento/shell/abstract.php
magento/shell/compiler.php
magento/shell/indexer.php
magento/shell/log.php
magento/sitemap.xml
magento/skin/adminhtml/default/default/
magento/skin/adminhtml/default/enterprise
magento/skin/frontend/base/
magento/skin/frontend/rwd/
magento/skin/frontend/default/blank/
magento/skin/frontend/default/blue/
magento/skin/frontend/default/default/
magento/skin/frontend/default/french/
magento/skin/frontend/default/german/
magento/skin/frontend/default/iphone/
magento/skin/frontend/default/modern/
magento/skin/frontend/enterprise
magento/skin/install/
magento/var/

/vendor/
