<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magetdd_Magepay>
            <version>0.2.0</version>
        </Magetdd_Magepay>
    </modules>
    <global>
        <models>
            <magetdd_magepay>
                <class>Magetdd_Magepay_Model</class>
                <resourceModel>magetdd_magepay_resource</resourceModel>
            </magetdd_magepay>
            <magetdd_magepay_resource>
                <class>Magetdd_Magepay_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>magetdd_magepay_transaction</table>
                    </transaction>
                </entities>
            </magetdd_magepay_resource>
        </models>
        <resources>
            <magetdd_magepay_setup>
                <setup>
                    <module>Magetdd_Magepay</module>
                </setup>
            </magetdd_magepay_setup>
        </resources>
        <blocks>
            <magetdd_magepay>
                <class>Magetdd_Magepay_Block</class>
            </magetdd_magepay>
        </blocks>
        <helpers>
            <magetdd_magepay>
                <class>Magetdd_Magepay_Helper</class>
            </magetdd_magepay>
        </helpers>
    </global>
    <frontend>
        <routers>
            <magepay>
                <use>standard</use>
                <args>
                    <module>Magetdd_Magepay</module>
                    <frontName>magepay</frontName>
                </args>
            </magepay>
        </routers>
        <layout>
            <updates>
                <magetdd_magepay module="magetdd_magepay">
                    <file>magetdd_magepay.xml</file>
                </magetdd_magepay>
            </updates>
        </layout>
    </frontend>
</config>