<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magetdd_Magepay>
            <version>0.1.0</version>
        </Magetdd_Magepay>
    </modules>
    <global>
        <models>
            <magetdd_magepay>
                <class>Magetdd_Magepay_Model</class>
                <resourceModel>magetdd_magepay_resource</resourceModel>
            </magetdd_magepay>
            <magetdd_magepay_resource>
                <class>Magetdd_Magepay_Model_Resource</class>
            </magetdd_magepay_resource>
        </models>
    </global>
</config>
